body {
  margin: 0;
  font-family: sans-serif;
}

header{
	background-color: #F1F1F1;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
}

nav {
    overflow: hidden;
    background-color: #F1F1F1;
    margin-top: 25px;
    margin-left: 25%; 
    margin-right: 25%; 

}
a.logo{
    color: black;

}
/* How links are displayed */
nav a{
    float: left;
    color: #696969;
    text-align: center;
    padding: 14px 16px ;
    text-decoration: none;
}
nav button {
    float:right;
    background-color: #F1F1F1;
    color: #696969;
    border-radius: 6px;
    border: 1px solid #696969;

}
 button:hover {
    background-color:#708090; 
    color: white;
}
/* Change color on hover */
nav a:hover {
    color: black;
    
}


.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
main:after {
    content: "";
    display: table;
    clear: both;
}



div.gallery {
    
    display: inline-block;
    vertical-align: top;
    width: 31%;
}



div.gallery img {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
