* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header{
	background-color: #F1F1F1;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
}

nav {
    overflow: hidden;
    background-color: #F1F1F1;
    margin-top: 25px;
    margin-left: 25%; 
    margin-right: 25%; 

}

/* How links are displayed */
nav a {
    float: left;
    display: block;
    color: #696969;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo{
    color: black;
}

/* Change color on hover */
nav a:hover {
    color: black;
    
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
div.gallery {
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    width: 180px;
}

div.gallery:hover {
    background-color: #f1f1f1;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}